body {
    background: #f1f1f1;
}

#preload {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f1f1f1 url("http://i.imgur.com/DDA1om1.gif") no-repeat center;
    background-size: cover;
    z-index: 99999;
}

.disappear {
    display: block;
    height: 0;
    transition: 0.3s ease;
    overflow: hidden;
}

.card,
.card-body {
    height: 100%;
    transition: 0.3s ease;
}

.card {
    display: block;
    width: 18rem;
    margin: 0 auto;
    cursor: pointer;
}

.card:hover {
    border: 1px solid black;
}


/* ----------------- NAV ------------------------*/

.myDiv {
    display: block;
    height: auto;
    background: #360033;
    background: -webkit-linear-gradient(to left, #0b8793, #360033);
    background: linear-gradient(to left, #0b8793, #360033);
}

#mainNav {
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    background: #360033;
    background: -webkit-linear-gradient(to left, #0b8793, #360033);
    background: linear-gradient(to left, #0b8793, #360033);
}

#navbarResponsive {
    background: transparent;
    height: auto;
    z-index: 5;
}

.logo {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0;
    margin-left: 1rem;
}

.navbar-toggler {
    margin-right: 1rem;
}

.navbar-dark .navbar-brand {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width: 800px) {
    #navbarResponsive {
        width: 100%;
        box-sizing: border-box;
        padding: 6px;
        margin: 0;
        background: #360033;
        background: -webkit-linear-gradient(to left, #0b8793, #360033);
        background: linear-gradient(to left, #0b8793, #360033);
    }
}


/* ----------------- FOOTER ------------------------*/

footer {
    padding-top: 3%;
    background: #360033;
    background: -webkit-linear-gradient(to left, #0b8793, #360033);
    background: linear-gradient(to left, #0b8793, #360033);
    height: 15vh;
    color: whitesmoke;
}

@media(max-width:500px) {
    footer {
        padding-top: 8%;
        height: 15vh;
    }
}