body{
    background:#f1f1f1;
}

.disappear{
    display:none;
}

.non-disappear{
    display:block;
}
.card:hover{
    border:1px solid black;
}

@media(max-width:800px){
    
    .card{
        margin-left:17%;
        margin-top:7%;
        margin-right:7%;
        margin-bottom:7%;
    }
}