body{
    background:#f1f1f1;
}


.disappear{
    display:block;
    height:0;
    transition: 0.3s ease;
    overflow: hidden;
}
.card, .card-body{
    height:100%;
    transition: 0.3s ease;}
.card{
    display:block;
    width:18rem;
    margin: 0 auto;
    cursor: pointer;
}

.card:hover{
    border:1px solid black;
}

#mainNav{
    background: #360033;  
    background: -webkit-linear-gradient(to left, #0b8793, #360033); 
    background: linear-gradient(to left, #0b8793, #360033);  
    padding:0;
    margin:0;
    height:11vh;
    margin-bottom:2rem;
}

#navbarResponsive{
    /* background: rgb(34,34,34);
     */
    background:transparent;
    height:auto;
    z-index:5;
}

.logo{
    width: 3.5rem;
    height: 3.5rem;
    margin: 0;
    padding-left:6px;
}
.navbar-toggler-icon{
    padding-right: 6px;
}

.navbar-dark .navbar-brand {
  
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding:0;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
  }
  @media screen and (max-width: 800px){
#mainNav{
    height:15vh;
}
#navbarResponsive{
    width:100%;
    box-sizing: border-box;
    padding:6px;
    margin:0;
     background: #360033;  
    background: -webkit-linear-gradient(to left, #0b8793, #360033); 
    background: linear-gradient(to left, #0b8793, #360033);  
    opacity: 0.8;
    
}
  }

  footer{
      padding-top:2%;
     background: #360033;  
    background: -webkit-linear-gradient(to left, #0b8793, #360033); 
    background: linear-gradient(to left, #0b8793, #360033);
    height:12vh;
    color:whitesmoke;
  }