body {
  background: #f1f1f1;
}

#GS1 {
  margin-left: 30%;
  font-family: "Abel", sans-serif;
}

#GS2 {
  margin-left: 30%;
  font-family: "Abel", sans-serif;
}

iframe {
  margin-left: 15%;
}

.round {
  border-radius: 100%;
}
.card {
  background: transparent;
  border: 0;
}

.myDiv {
  position: relative;
  z-index: 1;
  height: 100vh;

  font-family: "Lexend Deca", sans-serif;
  width: 100%;
}

.myDiv .bg {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  width: 100%;
  opacity: 0.76;
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='32.6' stroke-opacity='0' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  
}
.navbar-dark .navbar-brand {
  
  color: #ffb5b5;
  text-shadow: 6px 6px 8px black;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffb5b5;
  text-shadow: 6px 6px 8px black;
  font-weight: bold;
  font-size: 1.1rem;
}

#heading {
  
  color: white;
  background: linear-gradient(to right,red 0%, orange 50%,yellow 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* -------------------------------------------------------- */
#story{
  margin-left:13%;
  margin-top:5%;
}
.value{
  font-size:3rem;
  color:whitesmoke;
}

.context{
  padding-left:5%;
  padding-top:0;
  color:whitesmoke;
  font-size:1.5rem;
  line-height:0;
}
/*----------------------------------------------------------------- */
#main-text {
  padding-top: 6%;
}

#tagline {
  color: #fec771;

}

#aboutus {
  color: #537d91;
  font-family: "Chilanka", cursive;
}

#team {
  color: #537d91;
  font-family: "Chilanka", cursive;
}
#visittag {
  color: #537d91;
  font-family: "Chilanka", cursive;
}

#info {
  font-size: 1.9rem;
  border-left: 5px solid green;
  padding-bottom: 2%;
  padding-left: 3%;
  font-family: "Rajdhani", sans-serif;
}

#firstLetter {
  font-size: 3.5rem;
  font-weight: bold;
}

#contactus {
  border-right: 5px solid orange;
  margin-right:2%;
}

#visitus {
  border-left: 5px solid green;
   margin-left:2%;
}

.socials .fa {
  padding: 15px;
  font-size: 1.2rem;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  margin-left: 20px;
  font-weight: normal;
}

.fa:hover {
  opacity: 0.9;
  font-weight: bolder;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-play {
  background: red;
  color: white;
}

.fa-instagram {
  color: white;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

@media (max-width: 1000px) {
  #main-text {
    padding-top: 60%;
  }
  .display-1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 500px) {
  #GS1 {
    margin-left: 15%;
  }
  #GS2 {
    margin-left: 15%;
  }
  iframe {
    margin-left: 10%;
    width: 90%;
    height: 300px;
    margin-left: 5%;
  }

  #info {
    font-size: 1.1rem;
  }
 
   #main-text {
    padding-top: 24%;
  }

   #story{
    display:none;
  }
 
}

img {
  max-width: 100%;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
