 body {
                background: #F0C27B;  
                background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  
                background: linear-gradient(to right, #4B1248, #F0C27B); 

                background: #232526;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                background: #16222A;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



                font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                font-size: 14px;
                color: #000;
                margin-top:10%;
                padding: 0;
        }
 .swiper-container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

.swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
        }
