body {
    
    background: #9D50BB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.jumbotron{
    background:transparent;
}
.thumb{
    background:#512c96;
    color:#caadde;
    border-radius:100%;
    width:12rem;
    height:12rem;
    text-align: center;
    padding-top:13%;
    
}
#demo{
    text-align: center;
}
.up{
    font-size:3rem;
    padding-top:2%;
    font-family: 'Orbitron', sans-serif;
}

.smalltext{
    font-size:1.9rem;
    font-family: 'Mansalva', cursive;
}

@media(max-width:600px){
    .col-sm-6{
        margin-left:20%;
    }
    .display-4{
        font-size:2.7rem;
    }
}