<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css "
    />

    <link rel="stylesheet" href="/assests/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/stylesheet/team.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Mansalva&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/assests/images/icon_128.ico" />
    <title>Cognitia'19</title>
  </head>

  <body onload="loadfunc()">
    <div id="preload"></div>
    <div class="swiper-container ">
      <h1 class="display-2 mt-3 mb-2 text-center pb-4">The Team</h1>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="/assests/images/webteam/davien.png" />
            <div class="info">
                <h5>Davien M Syiemlieh</h5>
                <p>Co-coordinator</p>
                <p>Front End Developer</p>
            </div>
        </div>
        <div class="swiper-slide">
            <img src="/assests/images/webteam/damiki.png" />
            <div class="info">
                <h5>Damiki Laloo</h5>
                <p>Co-coordinator</p>
                <p>Front End Developer</p>
            </div>
        </div>
        <div class="swiper-slide">
          <img src="/assests/images/webteam/abushan.jpg" />
          <div class="info">
            <h5>Abhushan A. Joshi</h5>
            <p>Coordinator</p>
            <p>Full Stack Developer</p>
          </div>
        </div>

        <div class="swiper-slide">
          <img src="/assests/images/webteam/mahfooz.jpeg" />
          <div class="info">
            <h5>Mahfooz Ahmad</h5>
            <p>Coordinator</p>
            <p>Full Stack Developer</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="/assests/images/webteam/vikas.png" />
          <div class="info">
            <h5>Vikas Nishad</h5>
            <p>Co-coordinator</p>
            <p>Front End Developer</p>
          </div>
        </div>
       
      
        <div class="swiper-slide">
          <img src="/assests/images/webteam/vishwas.png" />
          <div class="info">
            <h5>Vishwas Kumar</h5>
            <p>Member</p>
            <p>Web Designer</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
    <script src="scripts/team.js"></script>
    <script>
      let preloader = document.getElementById("preload");

      function loadfunc() {
        preloader.style.display = "none";
      }
    </script>
  </body>
</html>
