<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">
    <link rel="stylesheet" href="/assests/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheet/otherevents.css" />

    <title>Cognitia 2k19</title>
</head>

<body>
<div class="container">
        <div class="jumbotron">
            <blockquote class="display-4">
                <p>
                    <i class="fa fa-quote-left"></i>
                    Don't limit your challenges, challenge your limits.
                    <i class="fa fa-quote-right"></i>
                </p>
            </blockquote>
        </div>


        <h4 class="display-4 text-center text-primary">Events Available</h4>
        <hr>
        <div class="row">
            <div class=" col-lg-4 col-md-6 col-sm-12 ">
                <div class="card " style="width: 18rem;">
                    <img src="/assests/images/hackathon.png" class="card-img-top">
                    <div class="card-body bg-warning">
                        <h5 class="card-title text-center">Hackathon</h5>
                        
                    </div>
                </div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-12 ">
                <div class="card" style="width: 18rem;">
                    <img src="/assests/images/talk.jpg" class="card-img-top">
                    <div class="card-body bg-info">
                        <h5 class="card-title text-center">Industrial Talk</h5>
                        
                    </div>
                </div>
            </div>
            
            <div class=" col-lg-4 col-md-6 col-sm-12 ">
                <div class="card" style="width: 18rem;">
                    <img src="/assests/images/workshops.jpg" class="card-img-top">
                    <div class="card-body bg-success">
                        <h5 class="card-title text-center">Workshops</h5>
                        <div class="d-flex justify-content-around">
            
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
</div>
<footer class="text-center mb-4">&copy; Cognitia 2019,NIT Meghalaya</footer>

</body>

</html>