<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">

    <link rel="stylesheet" href="/assests/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheet/departmental.css">

    <link rel="icon" href="/assests/images/icon_128.ico">
    <title>Cognitia'19</title>

</head>


<body onload="loadfunc()">
    <div id="preload"></div>
    <div class="myDiv">
        <nav class="navbar navbar-expand-lg navbar-dark py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="/">
                    <img class="logo " src="/assests/images/svg/logo.svg" />
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/events/robotics">Robotics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/events/otherevents">Other Events</a>
                        </li>

                    </ul>
                    <!-- Right Side Nav elements -->
                    <ul class="navbar-nav ml-auto my-2 my-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link" href="/registration">Registration</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="/timeline">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-3">
                <div class="list-group">
                    <a href="/events/departmental" class="list-group-item active">CSE</a>
                    <a href="/events/departmental/ece" class="list-group-item">ECE</a>
                    <a href="/events/departmental/eee" class="list-group-item">EEE</a>
                    <a href="/events/departmental/me" class="list-group-item">ME</a>
                    <a href="/events/departmental/ce" class="list-group-item">CE</a>
                </div>
            </div>
            <div class="col-lg-9 ">
                <h1 class="display-4 text-left">Computer Science and Engineering</h1>
                <hr>
                <h2 class="text-left mt-3">Who are we</h2>
                <p>
                    We are a cohesive,smart,progressive and diligent team that loves to solve puzzles and find out the rationale behind it all while keeping things simple.
                </p>
                From coding problems to technical quizzes, we design,build and ensure that our events work your grey matter and bring out the inner engineer in you.
                <p>
                </p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-3 mt-3">
                <h2>Contact Us</h2>
                <hr>
                <address>
                    <strong>Cordinator</strong>
                    <br>Leon Patrick Mawlong
                    <br>
                    Phone: 7308188239
                    <br>
                    Email: b16cs004@nitm.ac.in
                </address>
                <address>
                    <strong>Co-cordinator</strong>
                    <br>Prince Kumar Singh
                    <br>Jaswant Arya<br>
                    <strong>Members</strong>
                    <br>Sudha Kumari
                    <br>Rajeev Ranjan Chaurasia
                </address>
            </div>
            <div class="col-lg-9">

                <h1 class=" text-left">Events Available</h1>
                <div class="row">
                    <div class="col-md-4 col-sm-12 mt-3">
                        <div id="toggleCrack" class="card" style="width:14rem;">
                            <img src="/assests/images/departmental/CSE/cse.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Crack-It
                                </h5>
                                <div id="disappearCrack" class="disappear">
                                    <p class="card-text">Let’s face it, debugging code is difficult. Well, this event is all debugging.

                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a class="btn btn-primary btn-sm" href="/rules/departmental/cse/CrackIt.pdf" target="_blank">Details</a>
                                        <a class="btn btn-danger btn-sm" href="/registration/departmental" target="_blank">Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mt-3">
                        <div id="toggleCode" class="card" style="width:14rem;">
                            <img src="/assests/images/departmental/CSE/bicode.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Bicode
                                </h5>
                                <div id="disappearCode" class="disappear">
                                    <p class="card-text">You and your best buddy: 4 Programming questions - 1 hour.
                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a class="btn btn-primary btn-sm" href="/rules/departmental/cse/BiCode.pdf" target="_blank">Details</a>
                                        <a class="btn btn-danger btn-sm" href="/registration/departmental" target="_blank">Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4 col-sm-12 mt-3">
                        <div id="toggleHound" class="card" style="width:14rem;">
                            <img src="/assests/images/departmental/CSE/hound.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Blood Hound
                                </h5>
                                <div id="disappearHound" class="disappear">
                                    <p class="card-text">An online, level-based, treasure hunt competition
                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a class="btn btn-primary btn-sm" href="/rules/departmental/cse/BloodHound.pdf" target="_blank">Details</a>
                                        <a class="btn btn-danger btn-sm" href="/registration/departmental" target="_blank">Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mt-3">
                        <div id="toggleCodeFever" class="card" style="width:14rem;">
                            <img src="/assests/images/departmental/CSE/codefever.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">CodeFever
                                </h5>
                                <div id="disappearCodeFever" class="disappear">
                                    <p class="card-text">An individual coding competition hosted on one of the popular coding competition platforms.
                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a class="btn btn-primary btn-sm" href="/rules/departmental/cse/CodeFever.pdf" target="_blank">Details</a>
                                        <a class="btn btn-danger btn-sm" href="/registration/departmental" target="_blank">Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mt-3">
                        <div id="toggleQ" class="card" style="width:14rem;">
                            <img src="/assests/images/departmental/CSE/quiz.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">BEAT THE Q
                                </h5>
                                <div id="disappearQ" class="disappear">
                                    <p class="card-text">A quiz tailored to test one’s aptitude and computer knowledge.
                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a class="btn btn-primary btn-sm" href="/rules/departmental/cse/BeatTheQ.pdf" target="_blank">Details</a>
                                        <a class="btn btn-danger btn-sm" href="/registration/departmental" target="_blank">Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mt-3">
                        <div id="toggleMega" class="card" style="width:14rem;">
                            <img src="/assests/images/departmental/CSE/megabyte.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">MegaByte
                                </h5>
                                <div id="disappearMega" class="disappear">
                                    <p class="card-text">A Quiz tailored to test one’s programming acumen
                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a class="btn btn-primary btn-sm" href="/rules/departmental/cse/MegaByte.pdf" target="_blank">Details</a>
                                        <a class="btn btn-danger btn-sm" href="/registration/departmental" target="_blank">Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <footer class="text-center ">&copy; Cognitia 2019,NIT Meghalaya</footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/scripts/cse.js"></script>
    <script>
        var preloader = document.getElementById('preload');

        function loadfunc() {
            preloader.style.display = 'none';
        }
    </script>

</body>

</html>