<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">

    <link rel="stylesheet" href="/assests/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheet/departmental.css">
    
    <title>Cognitia 2k19</title>

</head>


<body>
<div class="container">
    <div class="row mt-3">
                <div class="col-lg-3">
                    <div class="list-group">
                        <a href="/events/departmental" class="list-group-item active">CSE</a>
                        <a href="/events/departmental/ece" class="list-group-item">ECE</a>
                        <a href="/events/departmental/eee" class="list-group-item">EEE</a>
                        <a href="/events/departmental/me" class="list-group-item">ME</a>
                        <a href="/events/departmental/ce" class="list-group-item">CE</a>
                    </div>
                </div>
                 <div class="col-lg-9 ">
                    <h1 class="display-4 text-left">Computer Science and Engineering</h1>
                    <hr>
                    <h2 class="text-left mt-3">Who are we</h2>
                    <p>
                        We are a cohesive,smart,progressive and diligent team that loves to solve puzzles 
                        and find out the rationale behind it all while keeping things simple.
                    </p>
                        From coding problems to technical quizzes, we design,build and ensure that our 
                        events work your grey matter and bring out the inner engineer in you.
                    <p>
                    </p>
                </div>
        </div>

    <div class="row mb-5">
        <div class="col-lg-3 mt-3">
            <h2>Contact Us</h2>
                <hr>
                <address>
                    <strong>Cordinator</strong>
                    <br>Leon Patrick Mawlong
                    <br>
                    <abbr title="Phone">Phone:</abbr>
                    7308188239
                    <br>
                    <abbr title="Email">Email:</abbr>
                    b16cs004@nitm.ac.in
                </address>
                <address>
                    <strong>Co-cordinator</strong>
                    <br>Prince Kumar Singh
                    <br>Jaswant Arya<br>  
                    <strong>Members</strong>
                    <br>Sudha Kumari
                    <br>Rajeev Ranjan Chaurasia
                </address>
        </div>
        <div class="col-lg-9">
            
           <h1 class=" text-left">Events Available</h1>
            <div class="row">
                <div class="col-md-4 col-sm-12 mt-3">
                    <div class="card" style="width:14rem;">
                        <img src="/assests/images/departmental/CSE/cse.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Crack-It
                                <button id="toggleCrack" class="btn btn-sm"><i class="fa fa-arrow-down"></i></button>
                            </h5>
                            <div id="disappearCrack" class="disappear">
                                <p class="card-text">Let’s face it, debugging code is difficult. Well, this event is all debugging.

                                </p>
                            <div class="d-flex justify-content-around">
                                <a class="btn btn-primary btn-sm" href="/rules/departmental/cse/CrackIt.pdf"
                                    target="_blank">Details</a>
                                <a class="btn btn-danger btn-sm" href="/registration/departmental"
                                    target="_blank">Register</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 mt-3">
                    <div class="card" style="width:14rem;">
                        <img src="/assests/images/departmental/CSE/bicode.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Bicode
                                <button id="toggleCode" class="btn btn-sm"><i class="fa fa-arrow-down"></i></button>

                            </h5>
                            <div id="disappearCode" class="disappear">
                                <p class="card-text">You and your best buddy: 4 Programming questions - 1 hour.
                                </p>
                            <div class="d-flex justify-content-around">
                                <a class="btn btn-primary btn-sm" href="/rules/departmental/cse/BiCode.pdf"
                                    target="_blank">Details</a>
                                <a class="btn btn-danger btn-sm" href="/registration/departmental"
                                    target="_blank">Register</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 col-sm-12 mt-3">
                    <div class="card" style="width:14rem;">
                        <img src="/assests/images/departmental/CSE/hound.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Blood Hound
                                <button id="toggleHound" class="btn btn-sm"><i class="fa fa-arrow-down"></i></button>
                            </h5>
                            <div id="disappearHound" class="disappear">
                                <p class="card-text">An online, level-based, treasure hunt competition
                                </p>
                            <div class="d-flex justify-content-around">
                                <a class="btn btn-primary btn-sm" href="/rules/departmental/cse/BloodHound.pdf"
                                    target="_blank">Details</a>
                                <a class="btn btn-danger btn-sm" href="/registration/departmental"
                                    target="_blank">Register</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 mt-3">
                    <div class="card" style="width:14rem;">
                        <img src="/assests/images/departmental/CSE/codefever.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">CodeFever
                                <button id="toggleCodeFever" class="btn btn-sm"><i class="fa fa-arrow-down"></i></button>
                
                            </h5>
                            <div id="disappearCodeFever" class="disappear">
                                <p class="card-text">An individual coding competition hosted on one of the popular coding competition platforms.
                                </p>
                                <div class="d-flex justify-content-around">
                                    <a class="btn btn-primary btn-sm" href="/rules/departmental/cse/CodeFever.pdf" target="_blank">Details</a>
                                    <a class="btn btn-danger btn-sm" href="/registration/departmental" target="_blank">Register</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 mt-3">
                    <div class="card" style="width:14rem;">
                        <img src="/assests/images/departmental/CSE/quiz.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">BEAT THE Q
                                <button id="toggleQ" class="btn btn-sm"><i class="fa fa-arrow-down"></i></button>
                
                            </h5>
                            <div id="disappearQ" class="disappear">
                                <p class="card-text">A quiz tailored to test one’s aptitude and computer knowledge.
                                 </p>
                                <div class="d-flex justify-content-around">
                                    <a class="btn btn-primary btn-sm" href="/rules/departmental/cse/BeatTheQ.pdf" target="_blank">Details</a>
                                    <a class="btn btn-danger btn-sm" href="/registration/departmental" target="_blank">Register</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 mt-3">
                    <div class="card" style="width:14rem;">
                        <img src="/assests/images/departmental/CSE/megabyte.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">MegaByte
                                <button id="toggleMega" class="btn btn-sm"><i class="fa fa-arrow-down"></i></button>
                
                            </h5>
                            <div id="disappearMega" class="disappear">
                                <p class="card-text">A Quiz tailored to test one’s programming acumen
                                </p>
                                <div class="d-flex justify-content-around">
                                    <a class="btn btn-primary btn-sm" href="/rules/departmental/cse/MegaByte.pdf" target="_blank">Details</a>
                                    <a class="btn btn-danger btn-sm" href="/registration/departmental" target="_blank">Register</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
       
</div>
<footer class="text-center mb-4">&copy; Cognitia 2019,NIT Meghalaya</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
<script src="/scripts/cse.js"></script>

</body>
</html>