<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">
    
    <link rel="stylesheet" href="/assests/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheet/departmental.css">

    <title>Cognitia 2k19</title>

</head>


<body>
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-3">
                <div class="list-group">
                    <a href="/events/departmental" class="list-group-item ">CSE</a>
                    <a href="/events/departmental/ece" class="list-group-item active">ECE</a>
                    <a href="/events/departmental/eee" class="list-group-item">EEE</a>
                    <a href="/events/departmental/me" class="list-group-item">ME</a>
                    <a href="/events/departmental/ce" class="list-group-item">CE</a>
                </div>
            </div>
            <div class="col-lg-9 ">
                <h1 class="display-4 text-left">Electronics and Communication Engineering</h1>
                <hr>
                <h2 class="text-left mt-3">Who are we</h2>
                <p>
                    We are the nerds who believe in doping more than anyone. We amplify our thoughts and radiate
                    it in free space. We promise to turn your analog feelings to digital.
                </p>
                <p>
                    From hardware debugging to technical quizzes, we design, fabricate, excite your inner
                    enginner and make you believe, "APNA OUTPUT AAYEGA."
                </p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-3 mt-3">
                <h2>Contact Us</h2>
                <hr>
                <address>
                    <strong>Cordinator</strong>
                    <br>Rajoo Gautam
                    <br>
                    <abbr title="Phone">Phone:</abbr>
                    9436563946
                    <br>
                    <abbr title="Email">Email:</abbr>
                    rajoogautam10@gmail.com
                </address>
                <address>
                    <strong>Co-cordinator</strong>
                    <br>Saurav Paul
                    <br>Wanchi Dora M. Sangma
                    <br>
                    <strong>Members</strong>
                    <br>Debasmita Das
                    <br>Preeti Polai
                    <br>Muskan Jaiswal
                </address>
            </div>
            <div class="col-lg-9">

                <h1 class=" text-left">Events Available</h1>
                <div class="row">
                    <div class="col-md-4 col-sm-12 mt-3">
                        <div class="card" style="width:14rem;">
                            <img src="/assests/images/departmental/ECE/ultimate.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Ultimate Swot
                                    <button id="toggleSwot" class="btn btn-sm"><i class="fa fa-arrow-down"></i></button>
                                </h5>

                                <div id="disappearSwot" class="disappear">
                                    <p class="card-text">Test your circuit designing and deciphering skills
                                    </p>
                                <div class="d-flex justify-content-around">
                                    <a class="btn btn-primary btn-sm" href="/rules/departmental/ece/swot.pdf"
                                        target="_blank">Details</a>
                                    <a class="btn btn-danger btn-sm" href="/registration/departmental"
                                        target="_blank">Register</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mt-3">
                        <div class="card" style="width:14rem;">
                            <img src="/assests/images/departmental/ECE/trickycircuit.png" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Tricky Circuits
                                    <button id="toggleAloqa" class="btn btn-sm"><i class="fa fa-arrow-down"></i></button>

                                </h5>
                                <div id="disappearAloqa" class="disappear">
                                    <p class="card-text">Believe in debugging?Let's take it to hardware level.
                                    </p>
                                <div class="d-flex justify-content-around">
                                    <a class="btn btn-primary btn-sm" href="/rules/departmental/ece/trickycircuit.pdf"
                                        target="_blank">Details</a>
                                    <a class="btn btn-danger btn-sm" href="/registration/departmental"
                                        target="_blank">Register</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4 col-sm-12 mt-3">
                        <div class="card" style="width:14rem;">
                            <img src="/assests/images/departmental/ECE/notsofast.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Not So Fast
                                    <button id="toggleFast" class="btn btn-sm"><i class="fa fa-arrow-down"></i></button>

                                </h5>
                                <div id="disappearFast" class="disappear">
                                    <p class="card-text">It's time to put your communication theory to test!
                                    </p>
                                <div class="d-flex justify-content-around">
                                    <a class="btn btn-primary btn-sm" href="/rules/departmental/ece/notsofast.pdf"
                                        target="_blank">Details</a>
                                    <a class="btn btn-danger btn-sm" href="/registration/departmental"
                                        target="_blank">Register</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
<footer class="text-center mb-4">&copy; Cognitia 2019,NIT Meghalaya</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
</script>
<script src="/scripts/ece.js"></script>

</body>

</html>