<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">

    <link rel="stylesheet" href="/assests/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheet/departmental.css">
    <title>Cognitia 2k19</title>

</head>


<body>
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-3">
                <div class="list-group">
                    <a href="/events/departmental" class="list-group-item ">CSE</a>
                    <a href="/events/departmental/ece" class="list-group-item ">ECE</a>
                    <a href="/events/departmental/eee" class="list-group-item active">EEE</a>
                    <a href="/events/departmental/me" class="list-group-item">ME</a>
                    <a href="/events/departmental/ce" class="list-group-item">CE</a>
                </div>
            </div>
            <div class="col-lg-9 ">
                <h1 class="display-4 text-left">Electrical and Electronics Engineering</h1>
                <hr>
                <h2 class="text-left mt-3">Who are we</h2>
                <p>
                   We test you on every level possible, judging you on the core basics along with your
                   logical and aptitute ability to make decisions on spot.
                </p>
                From treasure hunts to true electrical challenge, we make sure we provide you with 
                with a fun-packed day of learning along with a chance to outshine others.
                <p>
                </p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-3 mt-3">
                <h2>Contact Us</h2>
                <hr>
                <address>
                    <strong>Cordinator</strong>
                    <br>Manish Kumar
                    <br>
                    <abbr title="Phone">Phone:</abbr>
                    7023397455
                    <br>
                    <abbr title="Email">Email:</abbr>
                    jnvmanishkumar@gmail.com
                </address>
                <address>
                    <strong>Co-cordinator</strong>
                    <br>Rishabh Jaiswal
                    <br>Naman Satyavana<br>
                    <strong>Members</strong>
                    <br>Aditya Singh
                    <br>Rahul Kumar
                    <br>Vineet Kumar
                </address>
            </div>
            <div class="col-lg-9">

                <h1 class=" text-left">Events Available</h1>
                <div class="row">
                    <div class="col-md-4 col-sm-12 mt-3">
                        <div class="card" style="width:16rem;">
                            <img src="/assests/images/departmental/EEE/eee.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Fast and Furious
                                    <button id="toggleFF" class="btn btn-sm"><i class="fa fa-arrow-down"></i></button>
                                </h5>

                                <div id="disappearFF" class="disappear">
                                    <p class="card-text">Strengthen your basics, it's time for a crossword on core electrical.
                                    </p>

                                <div class="d-flex justify-content-around">
                                    <a class="btn btn-primary btn-sm" href="/rules/departmental/eee/FastAndFurious.pdf"
                                        target="_blank">Details</a>
                                    <a class="btn btn-danger btn-sm" href="/registration/departmental"
                                        target="_blank">Register</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mt-3">
                        <div class="card" style="width:16rem;">
                            <img src="/assests/images/departmental/EEE/Puzzles.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Inventolution
                                    <button id="toggleInv" class="btn btn-sm"><i class="fa fa-arrow-down"></i></button>

                                </h5>

                                <div id="disappearInv" class="disappear">
                                    <p class="card-text">Time to match the puzzles!
                                    </p>

                                <div class="d-flex justify-content-around">
                                    <a class="btn btn-primary btn-sm" href="/rules/departmental/eee/Inventolution.pdf"
                                        target="_blank">Details</a>
                                    <a class="btn btn-danger btn-sm" href="/registration/departmental"
                                        target="_blank">Register</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4 col-sm-12 mt-3">
                        <div class="card" style="width:16rem;">
                            <img src="/assests/images/departmental/EEE/Treasure.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">Electromania
                                    <button id="toggleElec" class="btn btn-sm"><i class="fa fa-arrow-down"></i></button>

                                </h5>

                                <div id="disappearElec" class="disappear">
                                    <p class="card-text">Sharpen your senses, it's time to go on a treasure hunt.
                                    </p>
                                <div class="d-flex justify-content-around">
                                    <a class="btn btn-primary btn-sm" href="/rules/departmental/eee/Electromania.pdf"
                                        target="_blank">Details</a>
                                    <a class="btn btn-danger btn-sm" href="/registration/departmental"
                                        target="_blank">Register</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<footer class="text-center mb-4">&copy; Cognitia 2019,NIT Meghalaya</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
<script src="/scripts/eee.js"></script>

</body>

</html>