<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">
 
    <link rel="stylesheet" href="/assests/css/bootstrap.min.css" />
 
    <link rel="stylesheet" href="/stylesheet/registration.css">
    
    

    <title>Cognitia 2k19</title>
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <blockquote >
                <p class="display-4">
                    <i class="fa fa-quote-left"></i>
                    Accept the challenges so you can feel the exhilaration of victory.
                    <i class="fa fa-quote-right"></i>
                </p>
            </blockquote>
        </div>

        <h4 class="display-4 text-center text-warning">Register here</h4>
        <hr>

        <div class="row mt-3">
            <div class="col-lg-6 bg-success thumbs" >
              <a href="/registration/robotics" target="_blank">
                <h6 class="display-4 text-center">Robotics</h6>
            </a>
            </div>

            <div class="col-lg-6 bg-info thumbs">
                <a href="/registration/departmental" target="_blank">
                    <h6 class="display-4 text-center">Departmental</h6>
                </a>
            </div>
        </div>
        
    </div>
    
<footer class="text-center mt-4 mb-4">&copy; Cognitia 2019,NIT Meghalaya</footer>
    
</body>

</html>